@import '../components/variables';
.navbar {
    background: white;
    font-weight: 500;
    padding: 15px 0;
    .navbar-toggler:focus {
        box-shadow: none;
        color: $primary;
    }
    .btn {
        padding: 12px 20px;
        font-weight: inherit;
        font-size: 14px;
        letter-spacing: 1px;
    }
}