.service-imgs {
    h1 {
        font-size: 50px;
    }
    ul.nav-tabs {
        width: fit-content;
        .nav-link {
            border-bottom: 3px solid #e7ebf2;
        }
        .nav-link.active {
            border-bottom: 3px solid #ff5757;
        }
    }
    @media (max-width:768px) {
        h1 {
            font-size: 30px;
        }
        ul.nav-tabs {
            .nav-link {
                font-size: 12px;
            }
        }
    }
}